tr 
    td #{emp.Id}
    td #{emp.Name}
    td 
        a.btn.btn-primary.btn-sm(href=`/employees/${emp.Id}`) View
    td 
        a.btn.btn-warning.btn-sm(href=`/employees/edit/${emp.Id}`) Edit
    td 
        a.btn.btn-danger.btn-sm(href=`/employees/delete/${emp.Id}`) Delete