doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css')
        title= pageTitle
    body.container
        .bg-light.p-5.rounded-lg.m-3
            h2 Hello from Express Web Application

        h3 This is the #{pageTitle}.

        block pagecontent 

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')
        block pagescripts