extend ../layout.pug

block pagecontent
    ul.list-group
        li.list-group-item 
            a(href="/") Back to Home
    ul.list-group
        li.list-group-item 
            a(href="/employees/react") React Page
        
    .row 
        .col-sm-2 
            button.btn.btn-primary.btn-block#btnLoad Load Employees 
        .col-sm-10 
            table.table.table-hover.table-striped 
                thead 
                    tr 
                        th ID
                        th NAME 
                        th 
                        th ACTIONS 
                        th 
                tbody#empTableBody 

block pagescripts
    script#employeeRowTemplate(type='text/x-jsrender')
        <tr>
            <td>{{:id}}</td>
            <td>{{:name}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/#">Details</a>
            </td>
            <td>
                <a class="btn btn-warning btn-sm" href="/#">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="/#">Delete</a>
            </td>
        </tr>
    script(src="/javascripts/client-app.js")
            