extend ../layout.pug 

block pagecontent 
    ul.list-group.mt-3 
        li.list-group-item
            a.text-decoration-none(href='/') Home
        li.list-group-item
            a.text-decoration-none(href='/about') About